/* .App {
  text-align: center;
  pointer-events: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0 0 50px 50px;
}

.tovar {
  float: right;
  margin: 0 0 50px 50px;
  

}
.Nazva {
  text-align: right;
}
.nazva1{
  text-align: right;
}
.tovar2{
  float: left;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}
 */ 
